.mainContainer{
    margin: 0px auto;
    width: 980px;
    height: auto;
    margin-top: 8px;
}
.college1_details1{
    width: 300px;
    float: left;
    line-height: 18px;
    padding: 6px;
}
.college1{
    /*border: 1px solid #ddd;*/
    width: 509px;
    font-size: 13px;
    margin-top: 12px
}
.seate_avalable{
    float: left;
    padding: 33px;
    font-size: 14px;
   color: rgb(18, 101, 156);
    font-weight: 700;
    width: 15px;
    margin-left: 50px;
}
.center_column{
    width: 720px;;
    border: 1px solid #ddd;
    float: left;
    margin-left: 10px;
    margin-bottom: 15px;
}
.actions1{
    float: right;
    /*margin-left: 47px;*/
    margin-top: 1px;
    line-height: 25px;
    width: 74px;
    margin-right: -137px;
}

.actions1{
    float: right;
    /*margin-left: 47px;*/
    margin-top: 1px;
    line-height: 25px;
    width: 74px;
    margin-right: 21px;
}
.ad_right{
    margin-top: 10px;

}

.college1_details1{
   width: 270px;
    float: left;
    line-height: 18px;
    padding: 6px;
}
