
.body{
    background-color: darkgray;
    margin: 0 auto;
}
.maincontainer{
    width: 980px;
    height: auto;
    /*min-height: 900px;*/
    background-color: #ffffff;
    margin: -1px auto;
}
.p1{
    width: 700px;
    height: 250px;
    /*//border: 1px solid #ddd;*/
    margin: 19px 0 2px 132px;
}
.p2{
    width:800px;
    height: 245px;
    /*// border: 1px solid #ddd;*/
    margin: 22px 0 0 98px;
}
#p2a{
    font-size: 16px;
    font-weight: bold;
    color: #0d75a0;
}
#p2b{
    font-size: 15px;;
    margin: 0px 0px 0px 44px;
    font-weight: 700;
}
.p3{
    width: 450px;
    height: 180px;
    border: 1px solid #ddd;
    margin: 0 0 0 199px;
    font: menu;
    font-weight: initial;
}

.p3 p{
    text-align: center;
}
#p3a{
    font-size: 15px;
    margin: 29px 0px 0px 44px;
}
.p4{
    width: 300px;
    height: 100px;
    /*// border: 1px solid #ddd;*/
    margin: 0 0 0 191px;
    margin-left: 114px;
    margin-top: 35px;
}
.p5{
    width: 300px;
    height: 100px;
    /*//border: 1px solid #ddd;*/
    margin: -102px 0 0 499px;
}
#p5a{
    font-size: larger;
    font-weight: bold;
    color: #003bb3;
    margin: 0 0 0 29px;
}
#p5b{
    margin: 0 0 0 22px;
}
#p5c{
    margin: 0 0 0 47px;
}
#p4a{
    font-size: larger;
    font-weight: bold;
    color: #003bb3;
    margin: 0 0 0 33px;
}
#p4b{
    margin: 0 0 0 16px;
}
#p4c{
    margin: 0 0 0 42px;
}
#sm{
    font-size: 15px;;
    font-weight: 700;
    /*color: #0d75a0;*/
}
.p6{
    width:800px;
    height: 450px;
    /*//border: 1px solid #ddd;*/
    margin: 0 0 0 97px;

}