
.mainContainer{
    margin: 0 auto;
    width: 980px;
    height: auto;
    background-color: white;
    margin-top: 19px;
    margin-bottom: 14px;
    min-height: 981px;
}
.head{
    width: 980px;
    height: 60px;
    border: 1px solid #ddd;
    margin-top: 16px;
    background-image: url("../resources/images/pages/bgg.png");
    background-position: center center;
    background-repeat: repeat-x;
    border-radius: 12px;
}
.left{
    width: 735px;
    height: auto;
    float: left;
    margin-top: 14px;
    padding: 6px;
    margin-left: 85px;
}

.right{
    width: 230px;
    height: 800px;
    float: right;
    margin-top: 3px;
}
.ques1{
    width: 730px;
    height: 50px;
    text-align: justify;
}
.ans1{
    width: 730px;
    height: auto;
    margin-top: 7px;
    margin-left: -9px;

}

.ans_desc{
    border: 
        1px solid #ddd;
    width: 623px;
    margin-left: 100px;
    margin-top: -80px;
    font-size: 13px;
}

.ans_desc a{
    text-align: justify; color: #0d75a0; font-size: 14px;
}

.ans_desc a:hover{
    text-decoration: underline;
}
#ta{
    margin-left: 0px;
    margin-top: 9px;
}



.question{text-align: justify; color: #0d75a0; font-size: 15px;}
.question1-outlabel{float: right;margin-right: 117px; margin-top: 10px}
.answer{ padding: 10px;}
.inputTextarea{padding-top: 10px; padding-left: 92px;}
.btn{float:right; margin-right: 15px;}
