.question_main_container
{
      margin: 0 auto;
    width: 980px;
    height: auto;
    background-color: white;
    margin-top: 19px;
    margin-bottom: 14px;
    
    min-height:167px;
/*  border: 1px solid #ddd;*/
    
}
